.App {
  text-align: center;
}

nav {
  position: fixed;
  z-index: 9999;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-li {
  display: inline;
  float: left;
  padding: 1rem;
}

.my-btn {
  margin-top: 50px;
  padding: 1rem;
  border-radius: 5px;
}

.my-card {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-card-title {
  text-align: center;
}

.my-card-body {
  text-align: left;
}

.image {
  float: inline-end;
}

.ww-card {
  position: relative;
  top: 100px
}

.ww-button{
  padding: 0.7rem;
  border-radius: 5px;
  margin-left: 10px;
}