.App {
  text-align: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

.nav-li {
  display: inline;
  float: left;
  padding: 1rem;
}

.my-btn {
  margin-top: 50px;
  padding: 1rem;
  border-radius: 5px;
}

.my-card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-card-title {
  text-align: center;
}

.my-card-body {
  text-align: left;
}

.image {
  float: inline-end;
}